#header {color: rgb(0, 0, 0);
    background-color: aquamarine;     
    padding-left: 10px;}

/* body {background-color: rgb(16, 173, 121);} */
body {background-image: url(Image\ Source/Stars01.jpg);
    background-size: cover;}

main {color: rgb(255, 60, 0);
    background-color: rgba(255, 230, 0, 0.658);
    padding-left: 10px;}
     
#instruments-list {border: 5px solid rgba(252, 19, 240, 0.562);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(223, 115, 223, 0.664);
    padding-left: 10px;}